@model PrototypeRE.Models.EditUserModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" value="admin" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-check" id="check-edit-field">
                            <input type="checkbox" class="form-check-input" id="check-edit" />
                            <label class="form-check-label" for="check-edit">Change Password</label>
                        </div>
                        <div id="edit-password" style="display:none;">
                            <div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RetypePassword" class="control-label"></label>
                                    <input asp-for="RetypePassword" class="form-control" />
                                    <span asp-validation-for="RetypePassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" value="Manager" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="month" class="col-form-label">Role : </label>
                            <div class="">
                                <select id="month" class="custom-select">
                                    <option selected>Choose role...</option>
                                    <option value="1" selected>Manager</option>
                                    <option value="2">Staff</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" value="0167529609" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control mb-1" value="36, JLN KEBANGSAAN 22" />
                            <input asp-for="Address2" class="form-control mb-1" value="TMN UNIVERSITI" />
                            <input asp-for="Address3" class="form-control" value="81300 SKUDAI JOHOR" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function () {
            $('#check-edit-field').click(function () {
                if ($('#check-edit').is(":checked")) {
                    $('#edit-password').slideDown();
                } else {
                    $('#edit-password').slideUp();
                }
            })
        })

    </script>
}