@model PrototypeSAD.Models.Stocks

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h3 class="d-inline-block d-sm-none">
                            Ergonomics Chair
                        </h3>
                        <div class="col-12">
                            <img src="~/images/prod-1.jpg" class="product-image" alt="Product Image">
                        </div>
                        @*<div class="col-12 product-image-thumbs">
                            <div class="product-image-thumb active">
                                <img src="~/images/prod-1.jpg"
                                     alt="Product Image">
                            </div>
                            <div class="product-image-thumb">
                                <img src="~/images/prod-2.jpg"
                                     alt="Product Image">
                            </div>
                            <div class="product-image-thumb">
                                <img src="~/images/prod-3.jpg"
                                     alt="Product Image">
                            </div>
                            <div class="product-image-thumb">
                                <img src="~/images/prod-4.jpg"
                                     alt="Product Image">
                            </div>
                            <div class="product-image-thumb">
                                <img src="~/images/prod-5.jpg"
                                     alt="Product Image">
                            </div>
                        </div>*@
                    </div>
                    <div class="col-12 col-sm-6">
                        <h3 class="my-3">Ergonomics Chair</h3>
                        <p>
                            Ergonomic chair with 5 rolls
                        </p>

                        <hr>

                        <div class="bg-gray py-2 px-3 mt-4">
                            <h2 class="mb-0">
                                RM 10.70
                            </h2>
                        </div>

                        <div class="mt-4">
                            <a href="@Url.Action("Edit")" class="btn btn-primary btn-lg btn-flat">
                                <i class="fas fa-pen fa-lg mr-2"></i>
                                Edit Stock
                            </a>

                            <div class="btn btn-danger btn-lg btn-flat">
                                <i class="fas fa-trash fa-lg mr-2"></i>
                                Delete Stock
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.card-body -->