@{
    ViewData["Title"] = "Privacy Policy";
}

<p>THIS WEBSITE IS CREATED FOR UNIVERSITY TUN HUSSEIN ONN COURSE PROJECT USE ONLY.<br />
    THIS WEBSITE BELONGS TO GROUP 10, COURSE SYSTEM ANALYSIS AND DESIGN SECTION 3, UNIVERTISY TUN HUSSEIN ONN, YEAR 2021<br />
    GROUP MEMBER: <br />
    1. BEH KAH KHENG<br />
    2. SITI NURLIYANA BINTI SALUDIN<br />
    2. LIM YAN YUN<br />
    2. DIVYA A/P MURUGAN<br />
    2. KHOO WEN BIN<br />
    </p>
