@model PrototypeSAD.Models.AddQuotation

@{
    ViewData["Title"] = "New Invoice";
}

<div class="row">
    <div class="col-12">
        <!-- Main content -->
        <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h4>
                        <i class="fas fa-globe"></i> Lean Aik Furniture
                    </h4>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col border-right">
                    From <a href="#" data-toggle="modal" data-target="#modal-edit-personal" class="float-right">Edit Details</a>
                    <address>
                        <strong>Lean Aik Furniture</strong><br>
                        4995<br />
                        Jalan New Ferry<br />
                        12100 Butterworth<br />
                        Penang<br />
                        Phone: (60) 12-454 3360<br>
                        Email: info@leanaikfurniture.com
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col border-right">
                    To <a href="#" data-toggle="modal" data-target="#modal-edit-client" class="float-right">Add Client</a>
                    <!--<address>
                        <strong>John Doe</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        Phone: (555) 539-1037<br>
                        Email: john.doe@example.com
                    </address>-->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Invoice #05-002</b><a href="#" data-toggle="modal" data-target="#modal-edit-detail" class="float-right">Edit Details</a><br>
                    <br>
                    <b>Purchase Order:</b><br>
                    <b>Date:</b><br>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <br />
            <!-- Table row -->
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serial #</th>
                                <th>Product</th>
                                <th>Description</th>
                                <th>Qty</th>
                                <th>Unit Price</th>
                                <th>Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<tr>
                                <td>1</td>
                                <td>Call of Duty</td>
                                <td>455-981-221</td>
                                <td>El snort testosterone trophy driving gloves handsome</td>
                                <td>$64.50</td>
                                <td><a href="#" class="text-danger"><i class="fas fa fa-trash-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Need for Speed IV</td>
                                <td>247-925-726</td>
                                <td>Wes Anderson umami biodiesel</td>
                                <td>$50.00</td>
                                <td><a href="#" class="text-danger"><i class="fas fa fa-trash-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Monsters DVD</td>
                                <td>735-845-642</td>
                                <td>Terry Richardson helvetica tousled street art master</td>
                                <td>$10.70</td>
                                <td><a href="#" class="text-danger"><i class="fas fa fa-trash-alt"></i></a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Grown Ups Blue Ray</td>
                                <td>422-568-642</td>
                                <td>Tousled lomo letterpress</td>
                                <td>$25.99</td>
                                <td><a href="#" class="text-danger"><i class="fas fa fa-trash-alt"></i></a></td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <p><button type="button" class="btn btn-light"><i class="fas fa fa-plus-circle"></i> Add Product</button></p>
            <div class="row">

                <!-- accepted payments column -->
                <div class="col-6">
                    <p class="lead">Payment Methods:</p>
                    <img src="~/images/credit/visa.png" alt="Visa">
                    <img src="~/images/credit/mastercard.png" alt="Mastercard">
                    <img src="~/images/credit/american-express.png" alt="American Express">
                    <img src="~/images/credit/paypal2.png" alt="Paypal">

                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                        This document is computer genrated. No signature required.
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th class="lead" style="border: 0;">Amount</th>
                            </tr>
                            <tr>
                                <th style="width:50%">Subtotal:</th>
                                <td>RM 0.00</td>
                            </tr>
                            <tr>
                                <th>Tax (6%)</th>
                                <td>RM 0.00</td>
                            </tr>
                            <tr>
                                <th>Shipping:</th>
                                <td>RM 0.00</td>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <td>RM 0.00</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-12">
                    <a href="@Url.Action("Details", new { id= 1 })" , class="btn btn-success float-right">
                        <i class="fas fa-save"></i> Save Invoice
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.invoice -->

<div class="modal fade" id="modal-edit-personal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="personal-name" class="col-sm-2 col-form-label">Name : </label>
                        <div class="col-sm-10"><input id="personal-name" class="form-control" value="Lean Aik Furniture" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="personal-address1" class="col-sm-2 col-form-label">Address : </label>
                        <div class="col-sm-10"><input id="personal-address1" class="form-control" value="4995" /></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2"><input id="personal-address2" class="form-control" value="Jalan New Ferry" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="personal-postcode" class="col-sm-2 col-form-label">Postcode : </label>
                        <div class="col-sm-10"><input id="personal-postcode" class="form-control" value="12100" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="personal-city" class="col-sm-2 col-form-label">City : </label>
                        <div class="col-sm-10"><input id="personal-city" class="form-control" value="Butterworth" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="personal-state" class="col-sm-2 col-form-label">State : </label>
                        <div class="col-sm-10"><input id="personal-state" class="form-control" value="Penang" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="personal-phone" class="col-sm-2 col-form-label">Phone No : </label>
                        <div class="col-sm-10"><input id="personal-phone" class="form-control" value="0124543360" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="personal-email" class="col-sm-2 col-form-label">Email : </label>
                        <div class="col-sm-10"><input id="personal-email" class="form-control" value="info@leanaikfurniture.com" /></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-edit-client">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Client</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="client-name" class="col-sm-2 col-form-label">Name : </label>
                        <div class="col-sm-10"><input id="client-name" class="form-control" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="client-address1" class="col-sm-2 col-form-label">Address : </label>
                        <div class="col-sm-10"><input id="client-address1" class="form-control" /></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2"><input id="client-address2" class="form-control" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="client-postcode" class="col-sm-2 col-form-label">Postcode : </label>
                        <div class="col-sm-10"><input id="client-postcode" class="form-control" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="client-city" class="col-sm-2 col-form-label">City : </label>
                        <div class="col-sm-10"><input id="client-city" class="form-control" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="client-state" class="col-sm-2 col-form-label">State : </label>
                        <div class="col-sm-10"><input id="client-state" class="form-control" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="client-phone" class="col-sm-2 col-form-label">Phone No : </label>
                        <div class="col-sm-10"><input id="client-phone" class="form-control" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="client-email" class="col-sm-2 col-form-label">Email : </label>
                        <div class="col-sm-10"><input id="client-email" class="form-control" /></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-edit-detail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="date" class="col-sm-3 col-form-label">Date : </label>
                        <div class="col-sm-9"><input id="date1" class="form-control" value="15/06/2021" placeholder="01/01/2021" /></div>
                    </div>
                    <div class="form-group row">
                        <label for="date" class="col-sm-3 col-form-label">Purchase Order : </label>
                        <div class="col-sm-9"><input id="purchase" class="form-control" value="" placeholder="2201-001" /></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
    $("#date").datepicker({ dateFormat: 'dd/mm/yy' });
    $("#date1").datepicker({ dateFormat: 'dd/mm/yy' });
    </script>
}