
@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-12">
        <!-- Main content -->
        <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row d-print-none">
                <div class="col-12">
                    <h4>
                        <i class="fas fa-globe"></i> Lean Aik Furniture
                    </h4>
                </div>
                <!-- /.col -->
            </div>
            <div class="row justify-content-center d-none d-print-block">
                <div class="col-auto">
                    <h4 class="text-center"><b>LEAN AIK FURNITURE</b></h4>
                    <h6 class="text-center">4995,TINGKAT BAWAH, JALAN NEW FERRY</h6>
                    <h6 class="text-center">12100 BUTTERWORTH, P. PINANG</h6>
                    <h6 class="text-center">Tel: (60) 12-454 3360, Fax: 04-1234567</h6>
                    <h6 class="text-center">Email:  info@leanaikfurniture.com</h6>
                </div>
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col border-right">
                    From
                    <address>
                        <strong>Lean Aik Furniture</strong><br>
                        4995<br />
                        Jalan New Ferry<br />
                        12100 Butterworth<br />
                        Penang<br />
                        Phone: (60) 12-454 3360<br>
                        Email: info@leanaikfurniture.com
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col border-right">
                    To
                    <address>
                        <strong>Micron Memory Malaysia Sdn. Bhd</strong><br>
                        1063, Tingkat Perusahaan 6<br>
                        Kawasan Perusahaan Bebas Perai<br>
                        13600 Perai<br>
                        Pulau Pinang<br>
                        Phone: (60) 4-377 0500<br>
                        Email: purchase@micron.com
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Invoice #05-001</b><br>
                    <br>
                    <b>Purchase Order:</b> 2201-001<br>
                    <b>Date:</b> 15/06/2021<br>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <br />
            <!-- Table row -->
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serial #</th>
                                <th>Product</th>
                                <th>Description</th>
                                <th>Qty</th>
                                <th>Unit Price</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>455-981-221</td>
                                <td>Office Table</td>
                                <td>3"x4" Table</td>
                                <td>1</td>
                                <td>RM 64.50</td>
                                <td>RM 64.50</td>
                            </tr>
                            <tr>
                                <td>247-925-726</td>
                                <td>Small Cabinet</td>
                                <td>3-layer cabinet</td>
                                <td>1</td>
                                <td>RM 50.00</td>
                                <td>RM 50.00</td>
                            </tr>
                            <tr>
                                <td>735-845-642</td>
                                <td>Ergonomics Chair</td>
                                <td>Ergonomic chair with 5 rolls</td>
                                <td>1</td>
                                <td>RM 10.70</td>
                                <td>RM 10.70</td>
                            </tr>
                            <tr>
                                <td>422-568-642</td>
                                <td>Cupboard</td>
                                <td>3x3 cupborad</td>
                                <td>1</td>
                                <td>RM 25.99</td>
                                <td>RM 25.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                    <p class="lead">Payment Methods:</p>
                    <img src="~/images/credit/visa.png" alt="Visa">
                    <img src="~/images/credit/mastercard.png" alt="Mastercard">
                    <img src="~/images/credit/american-express.png" alt="American Express">
                    <img src="~/images/credit/paypal2.png" alt="Paypal">

                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                        This document is computer genrated. No signature required.
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th class="lead" style="border: 0;">Amount</th>
                            </tr>
                            <tr>
                                <th style="width:50%">Subtotal:</th>
                                <td>RM 250.30</td>
                            </tr>
                            <tr>
                                <th>Tax (6%)</th>
                                <td>RM 10.34</td>
                            </tr>
                            <tr>
                                <th>Shipping:</th>
                                <td>RM 5.80</td>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <td>RM 265.24</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-12">
                    <button type="button" class="btn btn-default" onclick="printPage()"><i class="fas fa-print"></i> Print</button>
                    <a href="@Url.Action("Edit", "Invoice")" class="btn btn-warning"><i class="far fa-edit"></i> Edit Invoice</a>
                    <button type="button" class="btn btn-success float-right">
                        <i class="far fa-credit-card"></i> Submit Payment
                    </button>
                    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                        <i class="fas fa-download"></i> Generate PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.invoice -->

@section Scripts{
    <script>
        $(function () {

            @{
                if (TempData["Edit"] != null)
                {
                    @:Toast.fire({
                        @:icon: 'success',
                        @:title: 'Invoice updated successfully.'
                    @:})
                }

                if (TempData["Create"] != null)
                {
                    @:Toast.fire({
                        @:icon: 'success',
                        @:title: 'Invoice created successfully.'
                    @:})
                }
            }
        })

        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 5000
        });
    </script>
}